@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono:wght@300|PT+Sans|Oxygen+Mono|Rubik&display+swap");

body, html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcfcfc;
}

main {
  flex: 1;
}

#kube-component {
  font-family: "Oxygen Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #313439;
}

header,
footer,
#contents {
  background-color: #fff;
}

pre,
code,
.highlight {
  font-family: "JetBrains Mono", monospace;
}

h1.title,
h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #0d0d0e;
  text-rendering: optimizeLegibility;
  /* text-transform: uppercase; */
  margin-bottom: 16px;
}

h1.title {
  font-size: 60px;
  line-height: 64px;
  margin-bottom: 8px;
}

h1, .h1 {
  font-size: 2.2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

h2, .h2 {
  font-size: 1.6em;
  margin-bottom: 1em;
  margin-top: 1.6em;
}

h3, .h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #333;
}

.hero-lead {
  /* font-style: italic; */
  text-rendering: optimizeLegibility;
  margin-bottom: 16px;
}

#kube-component a {
  color: inherit;
  background: #eafcfb;
  border-bottom: 2px solid #66fcf1;
  text-decoration: none;
}

#kube-component a:hover {
  color: #000;
  background: #66fcf1;
}

#contents a {
  background: none;
  border: none;
}

#contents a:hover {
  background: none;
  border: none;
}

li {
  margin-top: 0.4em;
}

img[src$='#center'] {
  display: block;
  margin: auto;
  box-shadow: 0px 0px 4px #ccc;
}
